[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BayesMassBal"]
	path = BayesMassBal
	url = https://github.com/skoermer/bayesmassbal
	shallow = true
	registered = true
